@charset "UTF-8";
body {background-color: #343A40;}

h1{
  font-size:32px;
}
@media screen and (max-width: 480px){
  h1 {
    font-size: 24px;
  }
}

h3 {color: #FFFFFF;}

h1 {color: #FFFFFF;}

p {color: #FFFFFF;}
